html {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
}
.hero {
  height: 100vh;
  width: 100%;
  background-image: url(../img/bg-white.jpg);
  background-size: cover;
  background-position: center;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 8%;
  padding-right: 8%;
  background-color: rgba(47, 58, 39, 0.7);
}
.logo {
  color: white;
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
}
span {
  color: #54a729;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
}
nav ul li a:hover {
  color: #54a729;
  transition: 0.4s;
}

nav ul li a:hover {
  color: #54a729;
  transition: 0.4s;
}
/* Body start here */
.content {
  position: absolute;
  top: 50%;
  left: 8%;
  margin-top: 20px;
  transform: translateY(-50%);
}
h1 {
  color: #2f3a27;
  margin: 20px 0px 20px;
  font-size: 75px;
}
h3 {
  color: #808856;
  font-size: 20px;
  margin-bottom: 50px;
  margin-right: 25%;
}
h4 {
  color: #2f3a27;
  letter-spacing: 2px;
  font-size: 20px;
}
.about-us {
  background-color: #2f3a27;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  text-align: center;
  padding: 10px 15px;
  border-radius: 30px;
  transition: font-size 0.4s;
}
.about-us:hover {
  font-size: 150%;
}
/* about start here */
.about {
  width: 100%;
  padding: 100px 0px;
  background-color: #2f3a27;
}
@media screen and (max-width: 1032px) {
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 50px;
  }
}
.about img {
  height: auto;
  width: 430px;
  border-radius: 15px;
}
.about-text {
  width: 550px;
}
.main {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.about-text h2 {
  color: white;
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.about-text h5 {
  color: white;
  letter-spacing: 2px;
  font-size: 22px;
  margin-bottom: 25px;
  text-transform: capitalize;
}
.about-text p {
  color: #9ca2a6;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}
.srvclink {
  background-color: #e3e4e6;
  color: #2f3a27;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  text-align: center;
  padding: 10px 15px;
  border-radius: 30px;
  transition: font-size 0.4s;
}
.srvclink:hover {
  font-size: 150%;
}
/* service */
.service {
  background: #e3e4e6;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0px;
}
.title h2 {
  width: 100%;
  color: #2f3a27;
  font-size: 75px;
  margin: auto;
  text-align: center;
}
.box {
  display: flex;
  max-width: 80%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
}
.card {
  height: 430px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.6);
  width: 320px;
  padding: 20px 35px;
  background: #2f3a27;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.card i {
  font-size: 50px;
  display: block;
  text-align: center;
  margin: 25px 0px;
  color: white;
}
h5 {
  color: white;
  font-size: 23px;
  margin-bottom: 15px;
}
.pra p {
  color: #9ca2a6;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 25px;
}
/* partner and client */
.partner {
  width: 100%;
  padding: 100px 0px;
  background-color: #2f3a27;
}
.partner img {
  height: auto;
  width: 430px;
  border-radius: 15px;
}
.about-partner {
  width: 550px;
  text-align: right;
}
.partner {
  width: 100%;
  padding: 100px 0px;
  background-color: white;
}
.about-partner {
  width: 550px;
}
.main-partner {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.about-partner h2 {
  color: #2f3a27;
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.about-partner h5 {
  color: #2b3c4c;
  letter-spacing: 2px;
  font-size: 30px;
  position: relative;
  margin: 25px 90px 0 0;
  text-transform: capitalize;
  display: inline-block;
  transform: translateY(150%);
}
.about-partner img {
  margin-left: 60%;
  width: 70px;
  height: 70px;
  border-radius: 50px;
}
.about-partner p {
  color: #2b3c4c;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
  margin-top: 25px;
}
/* contact start here */

.contact-form {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 40px;
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  border-radius: 20px;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
}
.row-contact h1 {
  text-align: center;
  color: #2f3a27;
  font-weight: 600;
}
.col-contact {
  margin: 30px 10px;
  padding: 10px 20px;
}
.list {
  width: 100%;
  margin-top: 6px;
  margin-bottom: 16px;
}
input,
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}
.btn-primary {
  background-color: #54a729;
  color: white;
  padding: 12px 20px;
  border: none;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.4s;
  margin: auto;
  display: block;
}
.btn-primary:hover {
  transform: scale(1.2);
}
@media screen and (max-width: 920px) {
  nav {
    display: block;
    flex-direction: column;
  }
  .logo {
    /* untuk matiin logo digitalme */
    /* display: none; */
    text-align: center;
  }
  nav ul li {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 15px 0px;
  }
}
